label{
    font-weight: 700;
}
p{
    font-size: 1.15rem;
}
.modal-body{
    padding:40px 10% 60px;
}
.modal-body p{
    font-size: 1rem;
}
.confirmBtn{
    text-align: center;
}
h3{
    margin-bottom: 40px;
}